body{
    padding:0;margin: 0;
}
.container{
    padding: 1em;
}
.row,
.column{
    box-sizing: border-box;
}
.row{
    margin-bottom: 1em;
}
.row:before, 
.row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}
[class*=column]{
    position: relative;
    float:left;
}
[class*=column] + [class*=column]{
    margin-left: 1.6%;
}
.column-1{
    width: 6.866666667%;
}
.column-2{
    width: 15.3333333333%;
}
.column-3{
    width: 23.8%;
}
.column-4{
    width: 32.2666666667%;
}
.column-5{ 
    width: 40.7333333333%;
}
.column-6{
    width: 49.2%;
}
.column-7{
    width: 57.6666666667%;
}
.column-8{
    width: 66.1333333333%;
}
.column-9{
    width: 74.6%;
}
.column-10{
    width: 83.06666667%;
}
.column-11{
    width: 91.5333333333%;
}
.column-12{
    width:100%;
}
/*offset*/
.column-offset-1{
    margin-left: 8.466666667%;
}
.column-offset-2{
    margin-left: 16.93333333%;
}
.column-offset-3{
    margin-left: 25.4%;
}
.column-offset-4{
    margin-left: 33.866666667%;
}
.column-offset-5{
    margin-left: 42.333333333%;
}
.column-offset-6{
    margin-left: 50.8%;
}
.column-offset-7{
    margin-left: 59.266666667%;
}
.column-offset-8{
    margin-left: 67.733333333%;
}
.column-offset-9{
    margin-left: 76.2%;
}
.column-offset-10{
    margin-left: 84.666666667%;
}
.column-offset-11{
    margin-left: 93.133333333%;
}

@media only screen and (max-width: 550px){
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: 100%;
        float: none;
    }

    [class*=column]{
      margin-left: 0;
    }
    [class*=column] + [class*=column]{
    margin-left: 0;
    }
}


body{
	font-family: 'Roboto',sans-serif;
}
[class*=column]{
	/*background-color: pink;*/
}
.small-device{
	visibility: hidden;
}
nav{
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	padding-top: 1em;
	padding-bottom: 1em;
	position: fixed;
	width: 100%;
	top:0;
	opacity: 0.95;
	z-index: 2;
}
nav a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
nav a:hover{
	color: #858585;
}
.title{
	font-size: 45px;
	text-align: center;
	padding-top: 5%;
	margin-bottom: 0;
	color: black;
}
.iphone-x{
	margin-bottom: 8em;
	margin-top: 6em;
}
.slogan{
	text-align: center;
	margin:0;
	font-weight: lighter;
	font-size: 23px;
	padding-top: 0.5em;
	color: #33333F;
}
#horizontal-iphone{
	width:70%;
	margin-left: 15%;
	margin-top: 7%;
}
.iphone-8{
	background-color: #F9F0EB;
}
img#iphone-8{
	width: 100%;
	transform: scale(1.1);
	padding-top: 5%;
}
#series-3-font{
	text-align: center;
	color: #CF2A2A;
	margin-top: 0;
	margin-bottom: 0.5em;
}
.series-3 img{
	width: 70%;
	margin-left: 15%;
}

.computers h1,
.music h1{
	font-size: 35px;
	letter-spacing: 0em;
	font-weight: 500;
}
.computers p,
.music p{
	font-size: 18px;
	letter-spacing: 0em;
}
.computers img{
	width: 100%;
	transform: scale(1.1);
	margin-top: 3em;
}
img#right{
	transform: scale(0.9);
	margin-top: 8em;
}
.music span{
	font-weight: bold;
}
.right-col{
	background-color: #CFCFCF;
	color: #333333;
}
.music .right-col h1{
	color: #333333;
}
.music .slogan{
	font-size: 21px;
	font-weight: 400;
}
.music .right-col .slogan{
	color: black;
}
.music .right-col img{
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 8%;
}
.music .left-col img{
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	border: 5px solid #1B1B1B;
}
.music .left-col{
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#010409, #070D19, #010101); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#010409, #070D19, #010101); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#010409, #070D19, #010101); /* For Firefox 3.6 to 15 */
    background: radial-gradient( #010409, #070D19, #010101); /* Standard syntax (must be last) */
}
.music .left-col{
	padding-bottom: 11%;
}
.music .left-col .title,
.music .left-col .slogan{
	color: white;
}

.extra .left-col img{
	width: 80%;
	margin-left: 10%;
}
.extra .right-col img{
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
}
.extra .right-col{
	background-color: white;
}
.links{
	margin-top: 3em;
}
.links ul{
	list-style: none;
	padding-left: 0;
}
.links a,
.links b,
.visit p,
.final {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}
.links a:hover{
	text-decoration: underline;
}
.visit a{
	text-decoration: none;
}
.visit a:hover{
	text-decoration: underline;
}
.final p,
.final span{
	padding:0;margin:0;
}
.final p{
	color: #989898;
}
.final a{
	border-right: 1px solid #333333;
	padding: 0 1em 0 1em;
}
.final span:last-child{
	border: 0px;
}
.final a{
	color: #333333;
	float: right;
	text-decoration: none;
}
.final a:hover{
	text-decoration: underline;
}
.visit{
	padding:0;
	margin: 0;
}
.visit p{
	margin-bottom: 0px;
	line-height: 0;
	color: #989898;

}
.visit [class*=column]{
	border-bottom: 1px solid #989898;
}
.final [class*=column]{
	padding-top: 0.5em;
}

footer{
	background-color: #F2F2F2;
	padding-bottom: 1em;
}

@media screen and (max-width: 550px){
	.links{
		text-align: center;
	}
	nav{
		visibility: hidden;
	}
	.small-device{
		visibility: visible;
	}
}